@{
    ViewBag.Title = "Autoría";
}
<h4>@ViewBag.Title</h4>
<h5>@ViewBag.Message</h5>

<address>
    <p>Correos de contacto: </p>
    <strong>Desarrolladora:</strong>   <a href="mailto:Support@example.com">megan.madrigal@uned.cr</a><br />
    <strong>Profesor:</strong> <a href="mailto:Marketing@example.com">nbrunner@uned.ac.cr</a>
</address>

<address>
    <p>Información de la universidad: </p>
    <p>Nombre:  Universidad Nacional de Estudio a Distancia<br /></p>
    <p>Ubicación: San José, Costa Rica<br /></p>
    <p>Teléfono: +506 2527-2000<br /></p>
</address>

